body {
  background: #fff url(../img/bg.jpg) no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper__intro {
  display: block;
  text-align: center;
  transform: translateY(68%);
  width: 210px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  border: solid 1px #1c5bc3;
  border-radius: 3px;
  background-color: transparent;
  margin: 28px 0 0 0;
  padding: 3px 18px;
  width: 207px;
  height: 45px;
  display: inline-block;
  position: relative;
}

.btn_text {
  color: #1c5bc4;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px 0 0;
}

 .icon-main {
  background-image: url(../img/btn_arrow.png);
  height: 14px;
  width: 18px;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 18px;
}
.btn:hover {
  border: solid 1px #1c5bc3;
  border-radius: 3px;
  background-color: #1c5bc3;
  padding: 3px 18px;
  width: 207px;
  height: 45px;
  display: inline-block;
  position: relative;
}

.btn_text:hover {
  color: #fff;
}

 .icon-main:hover {
  background-image: url(../img/btn_arrow.png);
  background-position: 18px 0px;
  height: 14px;
  width: 18px;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 18px;
}
