body {
  background: #fff url(../img/bg.jpg) no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper__intro {
  display: block;
  text-align: center;
  transform: translateY(68%);
  width: 210px;
  margin: 0 auto;
}

button.btn {
  border: solid 1px #1c5bc3;
  border-radius: 3px;
  background-color: transparent;
  margin: 28px 0 0 0;
  width: 207px;
  height: 45px;
}

a.btn__link {
  display: block;
  position: relative;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  color: #1c5bc3;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: -18px;
}

a.btn__link::after {
  content: " ";
  background-image: url('../img/btn_arrow.png');
  height: 13px;
  width: 18px;
  position: absolute;
  top: 0;
  right: 18px;
}

a.btn__link::after:hover {
  opacity: 0;
}

button.btn:hover {
  border: solid 1px #1c5bc3;
  border-radius: 3px;
  background-color: #1c5bc3;
  width: 207px;
  height: 45px;
}

a.btn__link:hover {
  color: #fff;
  cursor: pointer;
}

a.btn__link:hover::before {
  content: " ";
  background-image: url('../img/btn_arrow.png');
  background-position: 18px 0px;
  height: 14px;
  width: 18px;
  position: absolute;
  top: 1px;
  right: 18px;
}
