body {
  background: #fff url(../img/bg.jpg) no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  display: block;
  text-align: center;
  transform: translateY(60%);
}

button.btn {
  border: solid 1px #1c5bc3;
  border-radius: 3px;
  background-color: transparent;
  padding: 3px 18px;
  width: 207px;
  height: 45px;
  display: inline-block;
  position: relative; 
}
a {
  text-decoration: none;
}
button .btn_text {
  color: #1c5bc4;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  padding-right: 12px;
}

button .icon-main {
  background-image: url(../img/btn_arrow.png);
  height: 14px;
  width: 18px; 
  display: inline-block;
  position: absolute;
  top: 14px;
  right: 21px;
}

.btn:hover {
  background: #1c5bc4;
}

 button.btn, .btn_text:hover {
  color: #fff;
}

.icon-main:hover {
  background-image: url(../img/btn_arrow.png) no-repeat;
  background-position: -18px 0px;
}
