* {
  font-family: 'Roboto';
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.wrapper {
  min-height: calc(100vh-75px);
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

header {
  background: #1c5bc3;
  color: #fff;
  text-align: right;
  height: 75px;
  width: 100%;
  overflow: hidden;
}

.h__logo {
  float: left;
  padding-top: 20px;
}

.header__phone {
  font-family: 'Roboto-Bold';
  font-size: 19px;
  letter-spacing: .9px;
  padding: 20px 0 10px 0;
}

.header__tooltip {
  font-size: 14px;
  line-height: 10px;
  cursor: pointer;
  padding: 0;
}

.header__tooltip::first-letter {
  text-transform: capitalize;
}

.tooltip {
  text-align: center;
  display: block;
  position: absolute;
  top: 76px;
  right: 25px;
  width: 170px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #1c5bc3;
  z-index: 100;
  opacity: 0;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid black;
}

.tooltip::after {
  top: -19px;
  right: 0;
  border-bottom: 10px solid white;
}

.tooltip__text {
  color: #000;
  line-height: 1.3em;
  transform: translateY(55%);
}

.tooltip__text>span {
  color: #1c5bc3;
  font-weight: bold;
}

.tooltip::before {
  content: "";
  width: 100px;
  height: 50px;
}

.tooltip:hover {
  opacity: 1;
}

.sidebar {
  display: block;
  width: 120px;
  padding: 28px 0 0 0;
  margin: 0;
  float: left;
}

.sb-menu__item {
  display: block;
  position: relative;
  padding: 10px 10px 10px 0;
}

.sb-menu__item>a {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.4px;
  color: #1c5bc3;
  text-transform: uppercase;
  line-height: 40px;
}

.sb-menu__item.active>a {
  color: #000;
}

.sb-menu__icon--main {
  background-image: url(../img/icons.png);
  width: 28px;
  height: 24px;
  position: absolute;
  left: -40px;
  top: 18px;
}

.sb-menu__icon--team {
  background-image: url(../img/icons.png);
  background-position: -28px -25px;
  width: 28px;
  height: 26px;
  position: absolute;
  left: -46px;
  top: 18px;
}

.sb-menu__icon--feedback {
  background-image: url(../img/icons.png);
  background-position: 0 -50px;
  width: 28px;
  height: 24px;
  position: absolute;
  left: -40px;
  top: 18px;
}

.wr_items {
  display: inline-block;
  float: right;
  width: 880px;
  margin: 48px 20px 53px 0;
}

.breadcrumbs li {
  font-family: 'Roboto-LightItalic';
  font-size: 14px;
  text-transform: capitalize;
  display: inline-block;
}

.breadcrumbs__item {
  color: #1c5bc3;
}

.breadcrumbs li:last-child {
  color: #000;
}

.breadcrumbs li:after {
  content: " / ";
}

.breadcrumbs li:last-child::after {
  content: " ";
}

.wr-header {
  font-family: 'Roboto-Bold';
  font-size: 49px;
  text-transform: capitalize;
  width: 100%;
  margin: 15px 0 0 39px;
}

.wr-item__team-mem {
  display: inline-block;
  vertical-align: top;
  width: 290px;
  line-height: 22px;
  letter-spacing: .3px;
  text-align: center;
  margin: 20px 0 0 0;
}

.wr-item__team-mem--name {
  font-weight: 700;
  font-size: 17px;
}

.wr-item__team-mem--position {
  font-weight: 700;
  font-size: 14px;
  color: #1c5bc3;
}

.wr-item__team-mem--descrip {
  font-size: 14px;
}

.avatar {
  width: 160px;
  height: 160px;
  overflow: hidden;
  padding: 20px 0 20px 45px;
  margin: 0 auto;
}

.avatar img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

footer {
  background: #1c5bc3;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 80px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.ft__author {
  padding: 13px 0 0 20px;
  width: 260px;
  line-height: 20px;
  letter-spacing: .5px;
  text-align: left;
  display: inline-block;
}

footer span {
  font-weight: bold;
}

.ft__logo {
  top: 20px;
  position: absolute;
  left: 46%;
}

.ft__social--title {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 20px;
}

.ft__socials__item--vk {
  background-image: url(../img/socials.png);
  background-position: 0 0;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 114px;
  top: 40px;
}

.ft__socials__item--fb {
  background-image: url(../img/socials.png);
  background-position: -27px 0;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 87px;
  top: 40px;
}

.ft__socials__item--gpl {
  background-image: url(../img/socials.png);
  background-position: -56px 0;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 59px;
  top: 40px;
}

.ft__socials__item--tw {
  background-image: url(../img/socials.png);
  background-position: -86px 0;
  width: 30px;
  height: 23px;
  position: absolute;
  right: 25px;
  top: 40px;
}

.ft__socials__item--email {
  background-image: url(../img/socials.png);
  background-position: -117px 0;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 0px;
  top: 40px;
}

li.ft__socials__item--vk:hover {
  background-image: url(../img/socials.png);
  background-position: 0 25px;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 114px;
  top: 40px;
}

li.ft__socials__item--fb:hover {
  background-image: url(../img/socials.png);
  background-position: -27px 25px;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 87px;
  top: 40px;
}

li.ft__socials__item--gpl:hover {
  background-image: url(../img/socials.png);
  background-position: -56px 26px;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 59px;
  top: 39px;
}

li.ft__socials__item--tw:hover {
  background-image: url(../img/socials.png);
  background-position: -86px 26px;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 30px;
  top: 39px;
}

li.ft__socials__item--email:hover {
  background-image: url(../img/socials.png);
  background-position: -117px 25px;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 0px;
  top: 40px;
}
