* {
  font-family: 'Roboto';
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: -75px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

header {
  background: #1c5bc3;
  color: #fff;
  text-align: right;
  height: 75px;
  min-width: 100%;
  box-sizing: border-box;
}

.h__logo {
  float: left;
  padding-top: 20px;
}

.header__phone {
  font-family: 'Roboto-Bold';
  font-size: 19px;
  letter-spacing: .9px;
  padding: 20px 0 10px 0;
}

.header__tooltip {
  font-size: 14px;
  line-height: 10px;
  cursor: pointer;
  padding: 0;
}

.header__tooltip::first-letter {
  text-transform: capitalize;
}

.tooltip {
  background: #fff;
  text-align: center;
  display: block;
  position: absolute;
  top: 80px;
  right: 5px;
  width: 170px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #1c5bc3;
  z-index: 100;
  opacity: 0;
}

.tooltip::before {
  content: " ";
  cursor: pointer;
  display: block;
  position: absolute;
  top: -40px;
  right: 0px;
  width: 100px;
  height: 60px;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  border: 10px solid transparent;
  border-bottom: 20px solid black;
}

.tooltip::after {
  top: -20px;
  right: 0;
  border-bottom: 15px solid white;
}

.tooltip__text {
  color: #000;
  line-height: 1.3em;
  transform: translateY(55%);
}

.tooltip__text>span {
  color: #1c5bc3;
  font-weight: bold;
}

.tooltip:hover {
  opacity: 1;
}

.sidebar {
  display: block;
  width: 120px;
  padding: 40px 20px 0 0;
  margin: 0;
  float: left;
}

.sb-menu__item {
  display: block;
  position: relative;
}

a.sb-menu__link {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  color: #1c5bc3;
  text-transform: uppercase;
  line-height: 40px;
  display: block;
  position: relative;
}

.sb-menu__link:hover {
  color: #000;
}

.sb-menu__link--main::before {
  content: " ";
  background-image: url(../img/icons.png);
  width: 28px;
  height: 24px;
  position: absolute;
  left: -40px;
  top: 10px;
}

.sb-menu__link--main:hover::before,
.sb-menu__link--team:hover::before,
.sb-menu__link--feedback:hover::before {
  opacity: 0;
}

.sb-menu__link--main:hover::after {
  content: " ";
  background-image: url(../img/icons.png);
  background-position: 25px 0;
  width: 27px;
  height: 24px;
  position: absolute;
  left: -42px;
  top: 10px;
}

.sb-menu__link--team::before {
  content: " ";
  background-image: url(../img/icons.png);
  background-position: 0 -25px;
  width: 28px;
  height: 26px;
  position: absolute;
  left: -38px;
  top: 10px;
}

.sb-menu__link--team:hover::after {
  content: " ";
  background-image: url(../img/icons.png);
  background-position: -28px -25px;
  width: 28px;
  height: 25px;
  position: absolute;
  left: -43px;
  top: 10px;
}

.sb-menu__link--feedback::before {
  content: " ";
  background-image: url(../img/icons.png);
  background-position: 0 -50px;
  width: 28px;
  height: 24px;
  position: absolute;
  left: -38px;
  top: 9px;
}

.sb-menu__link--feedback:hover::after {
  content: " ";
  background-image: url(../img/icons.png);
  background-position: 26px -50px;
  width: 27px;
  height: 24px;
  position: absolute;
  left: -41px;
  top: 9px;
}

.wr__items {
  display: inline-block;
  float: right;
  width: 900px;
  margin: 48px 0 53px 0;
}

.breadcrumbs li {
  font-family: 'Roboto-LightItalic';
  font-style: italic;
  font-size: 14px;
  text-decoration: underline;
  text-transform: capitalize;
  display: inline-block;
}

.breadcrumbs__item {
  color: #1c5bc3;
}

a.last {
  color: #000;
  text-decoration: none;
}

.breadcrumbs li:after {
  content: " / ";
}

.breadcrumbs li:last-child::after {
  content: " ";
}

.wr__header, .about-company,
.form__header {
  font-family: 'Roboto-Bold';
  font-size: 49px;
  width: 100%;
  margin: 15px 0 0 39px;
}

.wr__header::first-letter, .about-company::first-letter {
  text-transform: capitalize;
}

.wr-item__team-mem {
  display: inline-block;
  vertical-align: top;
  width: 270px;
  line-height: 22px;
  letter-spacing: .4px;
  text-align: center;
  padding: 30px 0 20px 20px;
}

.wr-item__team-mem--name {
  font-weight: 700;
  font-size: 17px;
  padding-top: 15px;
}

.wr-item__team-mem--position {
  font-size: 14px;
  font-weight: 700;
  color: #1c5bc3;
  padding-top: 10px;
}

.wr-item__team-mem--descrip {
  font-size: 14px;
  padding-top: 10px;
}

.wr-item__team-mem--avatar, .feedback__avatar {
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin: 0 auto;
}

.wr-item__team-mem--avatar > img ,
img.feedback__avatar {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

footer {
  background: #1c5bc3;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 80px;
  min-width: 100%;
  position: relative;
}

.ft__author {
  padding: 13px 0 0 0;
  width: 260px;
  line-height: 20px;
  letter-spacing: .5px;
  text-align: left;
  display: inline-block;
}

footer span {
  font-weight: bold;
}

.ft__logo {
  top: 20px;
  position: absolute;
  left: 46%;
}

.ft__social--title {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 20px;
}

.ft__socials__item--vk {
  background-image: url(../img/socials.png);
  background-position: 0 0;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 114px;
  top: 40px;
}

.ft__socials__item--fb {
  background-image: url(../img/socials.png);
  background-position: -27px 0;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 87px;
  top: 40px;
}

.ft__socials__item--gpl {
  background-image: url(../img/socials.png);
  background-position: -56px 0;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 59px;
  top: 40px;
}

.ft__socials__item--tw {
  background-image: url(../img/socials.png);
  background-position: -86px 0;
  width: 30px;
  height: 23px;
  position: absolute;
  right: 25px;
  top: 40px;
}

.ft__socials__item--email {
  background-image: url(../img/socials.png);
  background-position: -117px 0;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 0px;
  top: 40px;
}

li.ft__socials__item--vk:hover {
  background-image: url(../img/socials.png);
  background-position: 0 25px;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 114px;
  top: 40px;
}

li.ft__socials__item--fb:hover {
  background-image: url(../img/socials.png);
  background-position: -27px 25px;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 87px;
  top: 40px;
}

li.ft__socials__item--gpl:hover {
  background-image: url(../img/socials.png);
  background-position: -56px 26px;
  height: 23px;
  width: 25px;
  position: absolute;
  right: 59px;
  top: 39px;
}

li.ft__socials__item--tw:hover {
  background-image: url(../img/socials.png);
  background-position: -86px 26px;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 30px;
  top: 39px;
}

li.ft__socials__item--email:hover {
  background-image: url(../img/socials.png);
  background-position: -117px 25px;
  width: 25px;
  height: 23px;
  position: absolute;
  right: 0px;
  top: 40px;
}
/* about company main block styles */

.bg__header {
  background-image: url(../img/bg-head.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  display: block;
  height: 315px;
  width: 880px;
}

.bg__header {
  margin-top: -13px;
}

.about-company {
  padding: 115px 0 0 63px;
  margin: 0;
}

.about-company__text > p > span, p.white-text > span {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}

.about-company__text {
  display: block;
  width: 800px;
  line-height: 30px;
  letter-spacing: 2px;
  margin-top: 30px;
}

ul.about-company__text--list {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0px;
}

li.about-company__text--list-dotdecor {
  list-style: disc;
  list-style-position: outside;
}

p, .about-company__text--list , li.about-company__text--list-dotdecor {
  margin: 0 0 17px 0;
}

.blue-block {
  background: #1c5bc3;
  display: block;
  max-width: 680px;
  position: relative;
  color: #fff;
  padding: 10px 0px 5px 20px;
}

p.white-text::after {
  margin: 0;
}

.white-text {
  width: 600px;
  letter-spacing: 1px;
}

.partners {
  font-family: 'Roboto-Bold';
  font-size: 49px;
  font-weight: 700;
  padding: 55px 0 70px 0;
  text-transform: capitalize;
}

.partners {
  display: block;
  position: relative;
  width: 700px;
}

li.ico__grey {
  display: inline-block;
}

.ico__grey.one {
  background-image: url(../img/logos.png);
  background-position: 0 0;
  width: 167px;
  height: 75px;
  position: relative;
  top: 43px;
  left: 0px;
  filter: grayscale(100%);
}

.ico__grey.two {
  background-image: url(../img/logos.png);
  background-position: 460px 0;
  width: 260px;
  height: 75px;
  position: relative;
  top: 40px;
  left: 80px;
  filter: grayscale(100%);
}

.ico__grey.three {
  background-image: url(../img/logos.png);
  background-position: 150px 0;
  width: 150px;
  height: 75px;
  position: relative;
  top: 40px;
  left: 110px;
  filter: grayscale(100%);
}

.ico__grey.four {
  background-image: url(../img/logos.png);
  background-position: 0 100px;
  width: 150px;
  height: 75px;
  position: relative;
  top: 70px;
  left: 0px;
  filter: grayscale(100%);
}

.ico__grey.five {
  background-image: url(../img/logos.png);
  background-position: 390px 100px;
  width: 150px;
  height: 75px;
  position: relative;
  top: 70px;
  left: 170px;
  filter: grayscale(100%);
}

.ico__grey.six {
  background-image: url(../img/logos.png);
  background-position: 150px 100px;
  width: 150px;
  height: 75px;
  position: relative;
  top: 70px;
  left: 230px;
  filter: grayscale(100%);
}

.ico__grey:hover {
  filter: none;
}

/* feedback or comments company main block styles */

.feedback {
  display: inline-block;
  width: 900px;
  padding-top: 5px;
}

.feedback__avatar {
  display: block;
  float: left;
  padding: 30px 0 0 15px;
}

.feedback__items {
  display: block;
  float: right;
  width: 690px;
  line-height: 30px;
  padding: 20px 0 0 0;
  margin: 0 auto;
}

.feedback__item--date {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  display: block;
  width: 80px;
}

.feedback__item--name {
  font-family: 'Roboto-Bold';
  font-size: 18px;
  font-weight: 300;
  display: block;
  width: 250px;
}

.feedback__item--text {
  font-family: 'Roboto';
  font-size: 17px;
  padding-top: 10px;
}

hr.grey__line {
  border-top: 1px solid #DCDCDC;
  display: inline-block;
  width: 900px;
}

.pagination {
  text-align: center;
  margin: 0 auto;
  width: 900px;
  padding-top: 50px;
}

ul.pages > li {
  display: inline;
}

.page__pagination {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  color: #696969;
}

.form__header::first-letter {
  text-transform: capitalize;
}

.page__colored {
  color: #000;
  font-family: 'Roboto-Bold';
  font-weight: 700;
  margin: 0 10px;
}

.page__colored:nth-child(3) {
  margin-left: 3px;
}

.page__colored:last-child::after {
  content: " > ";
  display: inline;
  position: relative;
  padding: 5px;
  color: #696969;
  font-size: 22px;
}

.page__pagination::after {
  content: " < ";
  display: inline;
  color: #696969;
  font-size: 22px;
  padding-left: 15px;
}

.page__active {
  border-radius: 3px;
  background: #1c5bc3;
  color: #fff;
  font-family: 'Roboto-Bold';
  font-weight: 700;
  padding: 5px;
}

/*FORM */

.form__section {
  background: #f5f5f5;
  width: 700px;
  height: auto;
  margin: 70px auto;
  padding: 70px;
  position: relative;
  display: block;
  overflow: hidden;
}

.form__header {
  font-size: 49px;
  font-family: 'Roboto-Bold';
  font-weight: 700;
  margin: 0 auto 50px 70px;
  text-align: left;
}

.form__field-title, input, label {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
}

.form__row {
  display: inline-block;
  width: 560px;
  transform: translate(12%);
  vertical-align: middle;
}

.form__row-left,
.form__row-right,
.form__field-title {
  display: block;
  width: 270px;
  vertical-align: middle;
}

.form__field-title {
  padding: 5px 0 5px 0;
  overflow: hidden;
}
.form__row-left {
  float: left;
  margin-right: 20px
}

.form__row-right,
.form__submit-btn   {
  float: right;
}

.form__input-area {
  width: 270px;
  height: 47px;
  line-height: 47px;
}

input, textarea {
  outline: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 14px;
  padding-left: 10px;
}

input:focus, textarea:focus {
  outline: 0;
  border: 1px solid #1c5bc3;
  border-radius: 3px;
}

textarea.form__comments-field {
  height: 90px;
  width: 560px;
  resize: none;
  margin-bottom: 25px;
}

button {
  width: 155px;
  height: 45px;
  line-height: 45px;
  background: #1c5bc3;
  color: #fff;
  font-weight: 700;
  text-align: left;
  padding: 0 0 0 30px;
  border-radius: 3px;
  border: 1px solid #1c5bc3;
  text-transform: uppercase;
  position: relative;
}

button:hover {
  border: solid 1px #1c5bc3;
  background: transparent;
  color: #1c5bc3;
}

.form__submit-btn::after {
  content: " ";
  background-image: url('../img/btn_arrow.png');
  background-position: 18px 0px;
  height: 14px;
  width: 18px;
  position: absolute;
  top: 15px;
  right: 23px;
}

.form__submit-btn:hover::after {
  content: " ";
  background-image: url('../img/btn_arrow.png');
  background-position: 0px 0px;
  height: 14px;
  width: 18px;
  position: absolute;
  top: 15px;
  right: 23px;
}


/* radio buttons */
.form__radio {
  display: inline-block;
  position: relative;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    visibility: hidden;
}

[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}
[type="radio"]:checked + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #1c5bc3;
}

[type="radio"]:checked + label:before {
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #1c5bc3;
    border-radius: 100%;
    background: #fff;
}


[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after ,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #1c5bc3;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;

}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
